body {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 45s ease infinite;
    overflow: auto;
}

* {
    color: #fff;
    text-decoration: none;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    position: absolute;
    top: 35%;
}

.heading {
    letter-spacing: 10px;
}

h1 {
    font-size: 72px;
    padding-top: 250px;
    margin-bottom: auto;
}

h2 {
    margin-top: 2px;
}

hr {
    width: 50%;
    border-width: 2px;
    border-style: solid;

}

.navbar {
    display: block;
    overflow: hidden;
    padding-top: 15px;

}

.navbar a {
    letter-spacing: 5px;
    padding: 25px;
    color: black;
}

h3 {
    letter-spacing: 10px;
}

#scroll_down {
    padding-top: 280px;
    margin-bottom: auto;
}

#learn_more {
    margin-top: auto;
    margin-bottom: 10px;
}
