
body {
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 45s ease infinite;
}

@keyframes gradientBG {
    0% {
		background-position: 0% 50%;
	}
    50% {
        background-position: 100% 50%;
  }
    100% {
        background-position: 0% 50%;
  }
}

.container {
    width: 100%;
    position: absolute;
    top: 35%;
}

.heading {
	letter-spacing: 6px;
}

h1 {
	font-size: 72px;
    padding-top: 250px;
    margin-bottom: auto;
}

h2 {
    margin-top: 2px;
}

hr {
    width: 50%;
    border-width: 2px;
    border-style: solid;
    
}

h3 {
    letter-spacing: 6px;
}

#scroll_down{
    padding-top: 300px;
    margin-bottom: auto;
}

#learn_more {
    margin-bottom: 3px;
    margin-top: auto;
}

.navbar {
    display: block;
	overflow: hidden;
    padding-top: 15px;

}

.navbar a {
	text-decoration: none;
    padding: 25px;
    color: black;
}









#about {
	font-size: 32px;
}

#skills {
	font-size: 32px;
}

.languages {
	text-align: center;
}

#projects {
	font-size: 32px;
}

#contact {
	font-size: 32px;
}

.footer {
	position:absolute;
    bottom:0;
    width:100%;
    height:10px;

}
.footer a {
	text-decoration: none;
}
